@import '../../../shared.scss';

app-home-header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.cart {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $mainColor;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
        background-color: $mainLightColor;
    }

    &:active {
        background-color: $mainDarkColor;
    }
}