<div class="footer">
  <div class="footer-box">
    <p class="footer-box__title">商店</p>
    <ul class="footer-box__list">
      <li class="footer-box__item" (click)="activeLink('手機', true)">手機</li>
      <li class="footer-box__item" (click)="activeLink('配件', true)">手機周邊</li>
      <li class="footer-box__item" (click)="activeLink('穿戴', true)">智慧穿戴</li>
      <li class="footer-box__item" (click)="activeLink('生活', true)">智能生活</li>
    </ul>
  </div>
  <div class="footer-box">
    <p class="footer-box__title">服務</p>
    <ul class="footer-box__list">
      <li class="footer-box__item" (click)="activeLink('return')">退換貨須知</li>
      <li class="footer-box__item" (click)="activeLink('shopping')">購物須知</li>
      <li class="footer-box__item" (click)="activeLink('question')">常見問題</li>
      <li class="footer-box__item" (click)="activeLink('contact')">聯絡我們</li>
    </ul>
  </div>
  <div class="footer-logo-box">
    <img src="./assets/images/new-shuang-logo.svg" alt="">
  </div>
  <p class="footer-state">©Copright 2021 CHI Exercise works.</p>
</div>
