<div class="order-list">
    <div class="order-list__list-box">
        <perfect-scrollbar  class="order-list__list-scrollbar " [config]="{suppressScrollX : false, suppressScrollY : true}">
            <ul class="order-list__list order-list__list_header">
                <li class="order-list__item">
                    <p class="order-list__text">狀態</p>
                </li>
                <li class="order-list__item">
                    <p class="order-list__text">收件人</p>
                </li>
                <li class="order-list__item">
                    <p class="order-list__text">手機號碼</p>
                </li>
                <li class="order-list__item">
                    <p class="order-list__text">收件地址</p>
                </li>
                <li class="order-list__item">
                    <p class="order-list__text">商品數量</p>
                </li>
                <li class="order-list__item">
                    <p class="order-list__text">總金額</p>
                </li>
                <li class="order-list__item">
                </li>
            </ul>
            <div class="order-list__scrollbar-box">
                <perfect-scrollbar  class="order-list__scrollbar ">
                    <ul class="order-list__list" *ngFor="let order of orderList">
                        <li class="order-list__item">
                            <p class="order-list__text">{{order['is_paid'] ? '待出貨' : '待付款'}}</p>
                        </li>
                        <li class="order-list__item">
                            <p class="order-list__text">{{order['user']['name']}}</p>
                        </li>
                        <li class="order-list__item">
                            <p class="order-list__text">{{order['user']['tel']}}</p>
                        </li>
                        <li class="order-list__item">
                            <p class="order-list__text">{{order['user']['address']}}</p>
                        </li>
                        <li class="order-list__item">
                            <p class="order-list__text">{{totalQty(order['products'])}}</p>
                        </li>
                        <li class="order-list__item">
                            <p class="order-list__text">NT${{totalPrice(order['total'])| number: '1.'}}</p>
                        </li>
                        <li class="order-list__item">
                            <div class="order-list__info" (click)="openOrderInfo(order)">
                                <i class="fas fa-info"></i>
                            </div>
                        </li>
                    </ul>
                </perfect-scrollbar>
            </div>
        </perfect-scrollbar>
    </div>
    <app-loading-page *ngIf="isLoaded"></app-loading-page>
</div>
