<div class="check">
    <ul class="check-list">
        <li class="check-item" *ngFor="let product of cartList">
            <div class="check-item__img">
                <img [src]="product['product']['imageUrl']" alt="">
            </div>
            <div class="check-item__info">
                <p class="check-item__title">{{product['product']['title']}}</p>
                <p class="check-item__num">{{product['qty']}}{{product['product']['unit']}}</p>
            </div>
            <p class="check-item__price">NT${{product['total']}}</p>
            <i class="{{product['isLoaded'] ? 'fas fa-circle-notch fa-spin icn-loading' : 'far fa-trash-alt'}}" (click)="deleteCart(product)"></i>
        </li>
    </ul>
    <div class="check-coupon">
        <mat-form-field class="check-coupon__input" [formGroup]="coupon" floatLabel="never">
            <input type="text" formControlName="value" matInput placeholder="請輸入優惠代碼">
        </mat-form-field>
        <div class="check-coupon__btn" [class.check-coupon__btn_null]="coupon.controls.value.value === ''" (click)="addCoupon()">使用</div>
    </div>
    <p class="check-text" [style.color]="coupon.controls.alert.value === '找不到優惠券!'? '#ff4b4b' : '#4b4b4b'">{{coupon.controls.alert.value}}</p>
    <div class="check-price">
        <div class="check-price-box">
            <p class="check-price__text">金額</p>
            <p class="check-price__text">NT${{total}}</p>
        </div>
        <div class="check-price-box">
            <p class="check-price__text">折扣</p>
            <p class="check-price__text">{{salePrice}}</p>
        </div>
        <div class="check-price-box">
            <p class="check-price__text">總金額</p>
            <p class="check-price__text">NT${{finalTotal}}</p>
        </div>
    </div>
    <p class="check-next-btn" (click)="next()">下一步</p>
    <app-loading-page *ngIf="isLoaded"></app-loading-page>
</div>