@import '../../../shared.scss';

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-title {
        @include fontStyle(20px, 300px);
        text-align: center;
        margin-bottom: 30px;
    }

    &-button {
        width: 100px;
        height: 30px;
        border-radius: 8px;
        background-color: $mainColor;
        border: none;
        outline: none;
        @include fontStyle(16px, 100, #fff);
        cursor: pointer;

        &:hover {
            background-color: $mainLightColor;
        }

        &:active {
            background-color: $mainDarkColor;
        }
    }
}